.sidebar {
    position: fixed; /* Cambiado a absolute */
    top: 107px; /* Ajusta esto para que esté justo debajo del navbar */
    right: 0; /* Si quieres que se abra desde la derecha */
    width: 30%; /* Ancho del sidebar */
    height: calc(100vh - 110px); /* Altura total menos la altura del navbar */
    background: white;
    transition: opacity 0.8s ease, visibility 0.8 ease;
    z-index: 2050;
    overflow-y: hidden;
    opacity: 0;
    border-left: 0px solid #dee2e6; /* Borde izquierdo opcional */
    visibility: hidden;
}



.sidebar.show {
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0.8 ease;

    visibility: visible;
}

/* Bloquear scroll en el body cuando el sidebar está abierto */
body.modal-open {
    overflow: hidden; /* Desactivar el scroll en el body */
}

.backdrop-custom {
    position: fixed; /* Para cubrir toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 100; /* Debajo del sidebar */
}

.sidebar-header {
    position: sticky; /* Fijo en la parte superior */
    top: 0;
    background-color: white; /* Fondo blanco */
    z-index: 1050; /* Asegúrate de que esté por encima del contenido */
    border-bottom: 1px solid #dee2e6; /* Añadir un borde inferior opcional */
    padding: 10px; /* Espaciado */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title-custom {
    font-size: 1.1rem; /* Ajusta el tamaño según sea necesario */
    font-weight: bold; /* Puedes cambiar el peso de la fuente */
}

.sidebar-body {
    padding: 10px;
    overflow-y: auto; /* Permitir desplazamiento si es necesario */
    height: calc(100% - 40px);
}


/* list items */
.button-group-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio de 10px entre los botones */
}

.custom-button {
    background-color: #FF6100; /* Fondo anaranjado */
    color: white; /* Texto blanco */
    border: none; /* Sin borde por defecto */
    font-weight: bold;
    font-size: 1.1rem;
}

.custom-button:hover {
    background-color: black; /* Fondo negro al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
}

.custom-button-2 {
    background-color: white; /* Fondo blanco */
    color: #FF6100; /* Texto anaranjado */
    border: 2px solid #FF6100; /* Contorno anaranjado */
    font-weight: bold;
    font-size: 1.1rem;
}

.custom-button-2:hover {
    background-color: black; /* Fondo negro al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
}

.button-list:hover {
    background-color: black; /* Cambiar color de fondo al pasar el cursor */
    color: white; /* Cambiar color de texto al pasar el cursor */
}

.icon-container {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    width: 24px; /* Ajustar al tamaño deseado */
    height: 24px; /* Ajustar al tamaño deseado */
}

.button-list {
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente */
    background-color: whitesmoke; /* Fondo blanco */
    padding: 25px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor a puntero */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
    color: black;
    border-left: none; /* Quita el borde izquierdo */
    border-right: none; /* Quita el borde derecho */
}