.footer-divider {
  border: none;
  border-top: 3px solid #f1f1f1;
  margin-bottom: 2rem;
}

.social-icons a {
  color: #555;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6600;
}

.brand-logo {
  height: 40px;
  width: auto;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #333;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer hr {
  margin: 2rem 0;
}

footer .list-inline-item a {
  color: #555;
}

footer .list-inline-item a:hover {
  text-decoration: underline;
}

footer p, footer a {
  font-size: 0.875rem;
}

input.form-control {
  max-width: 300px;
}

.brand-logo {
  max-height: 40px; /* Ajusta la altura máxima a 40px */
  width: auto; /* Permite que el ancho se ajuste automáticamente */
  margin: 10px; /* Espacio entre las imágenes */
  display: inline-block; /* Para que se alineen en una fila */
  vertical-align: middle; /* Alineación vertical */
}

.brand-logos-container {
  display: flex;
  justify-content: center; /* Centra las imágenes */
  flex-wrap: wrap; /* Las imágenes se ajustarán si no caben en una fila */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 20px 0; /* Espaciado superior e inferior */
  align-items: center; /* Alinea verticalmente las imágenes */
}


@media (max-width: 768px) {
.brand-logo {
  height: 30px; /* Ajusta el tamaño para pantallas más pequeñas */
}
} 

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5; /* Fondo similar al de la primera imagen */
  padding: 10px 30px; /* Ajuste del padding para mayor separación horizontal */
  font-size: 14px; /* Tamaño de texto más pequeño */
  border-top: 1px solid #ccc; /* Línea divisoria entre el footer y el contenido superior */
}

.slogan {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.contact a {
  color: #333; /* Color del enlace similar al de Home Depot */
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline; /* Efecto hover en el enlace */
}

.contact {
  font-size: 12px;
  color: #333;
  margin-left: 600px;  /* Aumento de la separación entre los elementos */
}

.footer-promo {
  display: flex;
  justify-content: space-between; /* Alinea el texto a la izquierda y los íconos a la derecha */
  align-items: center;
  padding: 20px 30px; /* Añade suficiente espacio alrededor */
  background-color: #f5f5f5;
}

.promo-text p {
  font-size: 14px;
  color: #333;
}

.promo-icons {
  display: flex; /* Coloca los íconos en una fila */
}

.icon {
  width: 24px; /* Ajusta el tamaño del ícono */
  height: 24px;
  margin-left: 10px; /* Añade espacio entre los íconos */
}

.promo-icons img {
  cursor: pointer; /* Añade un cursor de mano al pasar sobre los íconos */
}

.promo-icons img:hover {
  opacity: 0.8; /* Efecto hover */
}

